parameters:
    excludes_analyse:
        - vendor
        - resources
    ignoreErrors:
        - '#Function config_path not found#'
        - '#Access to an undefined property Torann\\LaravelRepository\\Repositories\\AbstractRepository::\$model#'
